/* root start */
*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
}
body {
    width: 100%;
    overflow: scroll;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}
/* root end */

/* background-utama start */
#bg-main{
    background-image: url("/assets/img/bg-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    margin: 0 auto;
}
form#login {
    border: none;
    height: auto;
    position: relative;
    top: -0px;
    background: none;
    max-width: 25%;
}
#bg-main form {
    display: flex;
    flex-direction: column;
    width: 30vh;
    margin: 10px auto;
    gap: 0.5rem;
}
#bg-main form input#nama {
    text-align: center;
}
#bg-main form input#password {
    text-align: center;
}
#bg-main .text {
    margin: 0 auto;
    line-height: 2rem;
}
#bg-main .main {
    background: rgba(130, 91, 91, 0.822);
    position: relative;
    top: 10%;
    margin: 0 auto;
    width: 50%;
    height: 75%;
    /* border-radius: 5rem; */
}
.text span {
    font-family: 'PT Sans Narrow';
    font-size: 1.5rem; 
    display:flex;
    justify-content: center;
    letter-spacing: 0.5rem;
}

.text h2 {
    font-size: 0.8rem;
    display:flex;
    justify-content: center;
}
.text h1 {
    font-size: 1.6rem;
    text-align: center;
}
.text p {
    text-align: center;
    font-size: 2.5vh;
}
#bg-main .quote{
    margin: 20px auto 20px auto;
    text-align: center;
    background-color: rgba(255,255,255, 0.4);
    max-width: 400px;
}
#bg-main .time {
    margin: 1rem auto;
    text-align: center;
    background-color: rgba(255,255,255, 0.4);
    max-width: 400px;
    padding: 0.5rem;
}
/* background-utama end */


/* nav start */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: rgb(45, 178, 201);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.nav .nav-menu {
    display: flex;
    flex-direction: row ;
}
.nav-menu .icon-menu {
    text-align: center;
    padding: 0.8rem;
}
.nav-menu .icon-menu span {
    display: flex;
    flex-direction: row;
    color:black;
}
.nav-music .music-bg {
    text-align: center;
}

.nav-menu .time {
    position: absolute;
    right: 0;
    text-align: center;
}
.navbar-brand {
    position: absolute;
    left: 4rem;
    top: 1.6rem;
}
/* nav-end */

/* home start */
section#home {
    background-image: url('/assets/img/sungai.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 100vh;
}

section #img-home {
    object-fit: cover;
    width: 80%;
    height: 83vh;
    position: relative;
    left: 10%;
    margin: 9% auto;
    border-radius: 50%;
}
/* home end */

/* lokasi start */
section#lokasi {
    background-image: url('/assets/img/map-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
}
section #iframe {
    position: relative;
    left: 25%;
    top: 15%;
    margin: 2% auto;
}
/* lokasi end */

/* kirim doa start */
form#pesan {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    background-color: rgba(222, 195, 195, 0.8);
    padding: 1rem;
    max-width: 25%;
    gap: 0.5rem;
    font-size: 1rem;
    overflow: auto;
    height: 50vh;
    position: relative;
    top:20vh;
}
form #submit {
    background-color: green;
    max-width: 20%;
    padding: 5px;
    margin: 2% auto;
}

section#doa {
    background-image: url('/assets/img/pesan-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
}
.kirimPesan {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    padding-left: 1rem;
}

.kirimPesan .nama {
    color: black;
    font-weight: bold;
    font-family: 'PT Sans Narrow', Courier, monospace;
    line-height: 0.5rem;
}

/* kirim doa end */

/* galeri start */
section#galeri {
    height: 100vh;
    background-image: url('/assets/img/galeri-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    margin: 1rem;
}
center {
    position: relative;
    top: 150px;
    background: rgba(255,255,255, 0.4);
    width: 50%;
    margin: auto;
    font-size: 20px;
}
center span {
    font-family: 'PT Sans Narrow';
    letter-spacing: 0.2rem;
    font-size: 23px;
    font-weight: bold;
}
#col {
    gap: 1vh; position: relative; top: 30vh;
}
#container-galeri {
    background: none;
    border: none;
}
#col img {
    width: 25%;
}
/* galeri end */

/* even start */
section#even{
    height: 100vh;
    background-color:rgb(75, 82, 88);
}

#container-even {
    object-fit: cover;
    border: 3px solid black;
    background-image: url('/assets/img/even-bg.jpg');
    background-position: center;
    background-size: cover;
    width: 25%;
}
.even {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
    height: 100vh;
}
.even .icon-hati{
    display: flex;
    flex-direction: column;
}
.even #hand-heart {
    font-size: 50px;
    background-color: black;
    background-size: cover;
    width: 40%;
    height: auto;
    border-radius: 50%;
    color: wheat;
    margin: 0 auto;
    object-fit: cover;
}
.even .tanggal {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.even .tanggal  #calendar-check {
    font-size: 25px;
    background-color: black;
    background-size: cover;
    width: 20%;
    height: auto;
    border-radius: 50%;
    color: wheat;
    margin: 0 auto;
}

.even .jam {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
}

.even .jam #alarm-check {
    font-size: 25px;
    background-color: black;
    width: 20%;
    height: auto;
    border-radius: 50%;
    color: wheat;
    margin: 0 auto;
}

.even #resepsi {
    font-style: italic;
    font-family: 'PT Sans Narrow';
    font-size: 30px;
    text-shadow: 4 4 4 black;
    margin-top: 1rem;
}
.even .alamat {
    margin: 5% auto;
}
.even .alamat h2 {
    font-size: 20px;
}
.even .alamat p {
    line-height: 1rem;
    font-size: 15px;
}
.even p {
    line-height: 0.5rem;    
}
/* even end */

/* pasangan start */
section#pasangan {
    height: 100vh;
    background-image: url('/assets/img/couple-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 15vh;
}
#couple {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
#pasangan .textCouple {
    width: 25%;
    padding: 0;
    margin: 1rem;
    text-align: center;
}

.cardsCouple {

    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    left: 0rem;
    padding: 1rem;
    gap: 10px;
}
.cardCouple {
    width: 100%;
    background-color: bisque;
}
img#couple-wanita {
    width: 100%; 
    height: 48vh; 
    object-fit: cover;
}

/* pasangan end */

/* Responsive */

@media screen and (max-width : 576px) {
    /* nav-bar start */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html {
        scroll-behavior: smooth;
    }
    .nav-bar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 35vh;
        width:63%;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .nav {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0 auto;
       
    }
    .icon-menu {
        width: 15%;
        font-size: 0.9rem;
        margin-top: -1rem;
    }
    .navbar-brand {
        margin-top: -4vh;
    }
    .music-bg {
        /* text-align: center; */
        margin: 1rem auto 0 -40%;
        font-size: 0.9rem;
    }
    .time {
        position: absolute;
        bottom: 0;
        font-size: 0.9rem;
        padding: 0.7rem;
        
    }
    /* nav-end */

    /* home start */
    section#home {
        background: none;
        height: 100vh;
    }
    section #img-home {
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 0;
        position: relative;
        left: 0;
        height: 100vh;
        object-fit: cover;


    }
    /* home end */

    /* lokasi start */
    section#lokasi {
        background: none;
        height: 100vh;
    }
    section #iframe {
        position: relative;
        left: 0;
        top: 0;
        height: 100vh;
    }
    /* lokasi end */
    
    /* pesan start */
    section#doa {
        background: none;
        background-color: aliceblue;
        height: 100vh;
    }
    form#pesan {
        margin: 30px auto;
        background-color: rgba(222, 195, 195, 0.8);
        padding: 1rem;
        max-width: 100%;
        gap: 1rem;
        font-size: 1rem;
        position: relative;
        top: 0;
        height: 100vh;
     }
     form #submit {
        background-color: green;
        max-width: 100%;
        padding: 5px;
        margin: 2% auto;
    }
    /* pesan end */

    /* galeri start */
    section#galeri {
        background-position: center;
        background-size: cover;
        object-fit: cover;
        height: 100vh;
    }
    #galeri center {
        width: 95%;
        position: relative;
        top: 20px;
        border-radius: 1rem;
        background: none;
        background-color: rgba(255,255,255, 1);
        padding: 2px;

    }
    center span {
        font-family: 'PT Sans Narrow';
        letter-spacing: 0.2rem;
        font-size: 23px;
        font-weight: bold;
    }
    #col{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        top: -10px;
        left: 0px;
        gap: 5vh;
       
    }
    #col img {
        width: 45%;
        object-fit: cover;
        /* object-position: center; */
        /* margin: -100px auto; */
    }
    #container-galeri {
        background: none;
        border: none;
        height: 100vh;
        margin-top: 10vh;

    }
    /* galeri end */

    /* even start*/
    #container-even {
        width: 100%;
        height: 100vh;
    }
    /* even end */

    /* pasangan start */
    #couple {
        display: flex;
        flex-direction: column;
    }
    #couple .textCouple {
        width: 100%;
        height: auto;
    }
    img#couple-wanita {
        height: 50%;

    }
    /* pasangan end */

    /* Responsive index */
    #bg-main {
        background-position: center;
        width: 100%;
        background-size: cover;
        height: 100vh;
    }
    #bg-main .main {
        width: 90%;
        border-radius: 2rem;
        margin: 0 auto;
    }
    form#login {
        border: none;
        /* overflow: hidden; */
        height: auto;
        position: relative;
        top: -0px;
        background: none;
        max-width: 50%;
    }
}
